{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}О нас{% endblock%}

{% block body %}
    <header>
        <h1>About Me</h1>
    </header>
    <article>
        <p>1992 yılında Kırgızistan’ın Oş bölgesinde doğdum. 
            1998 – 2009 yıllar arası Lomonosov adında lıseyi tamamladım.
            2009 – 2010  eğitim-öğretim  yılında Oş Tehnoloji Üniversitesinde okudum. 
            2010 yılında Kırgızistan-Türkiye Manas Üniversitesini  kazandım ve ilk sene
            Türkçe hazırlık sınıfını bitirdim. 
            2011 yılından bu yana aynı üniversitede Bilgisayar Mühendisliği  Bölümünde lisans görmekteyim. 
            2013 yılı bahar dönemi eğitimini Öğrenci Değişim Programı yardımıyla Türkiye’nin 
            Gazi  Üniversitesinde aldım.</br>C++,  C#, Java, Delphi, SQL, PHP programlama dillerini öğrendim.</br> 
            OOP, MVC, SVN,  VCS, .. tehnolojilerinin yardımıyla progrmlar yapabiliyorum.</br>
            Hobbilerim: Kayak yapmak, yüzmek, film seyretmek, haber okumak.</p>
    </article>
{% endblock %}